.card-container {
  width: 400px;
  height: 240px;
  perspective: 600px;
  font-family: "Electrolize", sans-serif;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Both front and back of card */
.card-face {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 15px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card-face-front {
  background: rgb(8, 37, 80);
  background: linear-gradient(
    315deg,
    rgba(8, 37, 80, 1) 0%,
    rgba(20, 85, 184, 1) 78%,
    rgba(0, 131, 255, 1) 100%
  );
}

.card-face-back {
  background: #1455b8;
  transform: rotateY(180deg);
}

/* Toggle this class to flip card */
.card.is-flipped {
  transform: rotateY(180deg);
}

.card-logo {
  width: 60px;
  height: 30px;
  padding: 15px;
}

.card-logo img {
  width: 100%;
  float: right;
}

.card-info-name {
  text-transform: uppercase;
}

.card-number {
  display: flex;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 2px;
}

.card-info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 0 20px 25px 20px;
}

.card-info-expiry {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.card-face-back {
  display: flex;
  justify-content: space-evenly;
}

.back-stripe {
  height: 45px;
  width: 100%;
  background-color: #000;
}

.security-code-stripe {
  align-self: center;
  height: 45px;
  width: 80%;
  background-color: #fff;
  color: #000;
  right: 10px;
}

.security-code {
  position: absolute;
  right: 15%;
  margin-top: 13px;
}
