header h1 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  font-size: 2.3rem;
  color: rgba(0, 0, 0, 0.7)
}

.container {
  width: 400px;
  margin: 50px auto;
}

form {
  margin-top: 20px;
}

input[type="submit"] {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ee5935;
  margin-top: 15px;
  background-color: #ee5935;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  cursor: pointer;
}

input[type="submit"]:hover {
  text-decoration: underline;
} 

input[type="submit"]:disabled:hover {
  cursor: not-allowed;
  text-decoration: none;
}

input[type="submit"]:focus {
  border: 1.5px solid #103c42;
  outline: none;
}
