.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-size: 17px;
  color: #6b6b6b;
  margin: 10px 0 3px 0;
}

input {
  width: 196;
  height: 40px;
  border: 1px solid #6b6b6b;
  border-radius: 5px;
  font-size: 17px;
  padding-left: 7px;
}

input:focus {
  border: 1.5px solid #103c42;
  outline: none;
}
